@model MusicStore.Models.AlbumViewModels
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table border="1">

    <tr>
        <th>ID</th>
        <th>Album name</th>
    </tr>
    <tbody>


        @foreach (DAL.Album album in Model.AllAlbums)
        {
            <tr onclick="window.location.href = '@Url.Action("Index", "Album", new {id = album.id})'">
                @if (Model.GetSelectedAlbum != null && Model.GetSelectedAlbum.id == album.id)
                {
                    <td style="background-color:green">
                        @album.id
                    </td>
                    <td style="background-color:green">
                        @album.title
                    </td>
                }
                else
                {
                    <td>
                        @album.id
                    </td>
                    <td>
                        @album.title
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<form action="/Album/CreateAlbum">
    <input type="submit" value="Add" />
</form>

@*@if (Model.AllAlbums != null)
{
    @Model.GetSelectedAlbum.title <br />
    @Model.GetSelectedAlbum.price <br />
    @Model.GetSelectedAlbum.genreId <br />
    @Model.GetSelectedAlbum.artistId <br />
}*@


