@model MusicStore.Models.GenreViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table border="1">

    <tr>
        <th>ID</th>
        <th>Genre name</th>
    </tr>

    <tbody>
        @foreach (DAL.Genre genre in Model.AllGenres)
        {
            <tr onclick="window.location.href = '@Url.Action("Index", "Genre", new {genre.id})'">
                @if (Model.GetSelectedGenre != null && Model.GetSelectedGenre.id == genre.id)
                {
                    <td style="background-color:green">
                        @genre.id
                    </td>
                    <td style="background-color:green">
                        @genre.name
                    </td>
                }
                else
                {
                    <td>
                        @genre.id
                    </td>
                    <td>
                        @genre.name
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<form action="/Genre/CreateGenre">
    <input type="submit" value="Add" />
</form>

<form action="/Genre/UpdateGenre">
    <input type="submit" value="Update"/> 
</form>
<form action="/Genre/DeleteGenre">
    <input type="submit" value="Delete"/>
</form>

